@import '~bulma/css/bulma.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

.hero.is-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
}

.section.is-with-fixed-navbar {
    padding-top: 5rem;
}
