@import '~bulma/css/bulma.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bulma-pageloader/dist/css/bulma-pageloader.min.css';
@import '~pixabay-javascript-autocomplete/auto-complete.css';

.hero.is-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
}

.section.is-with-fixed-navbar {
    padding-top: 5rem;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}

.link-button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header.card-header {
    flex-grow: 1;
}
